/* Definir variables de color */
:root {
    --primary: #B85C38;  /* Terracota suave */
    --secondary: #F2C14E;  /* Amarillo mostaza */
    --background-light: #FAF3DD;  /* Beige suave */
    --text-dark: #3D3D3D;  /* Gris oscuro */
    --detail: #4F6D7A;  /* Azul grisáceo */
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    color: var(--text-dark);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    background-color: var(--background-light);
}

/* Logo */
.Title img {
    width: 200px;
    height: auto;
    transition: opacity 0.3s ease-in-out;
}

.Title img:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* Barra de búsqueda */
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    padding: 10px 20px;
    height: 60px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.search {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--detail);
    overflow: hidden;
}

.search-bar {
    padding: 10px;
    height: 30px;
    border: none;
    font-size: 16px;
    border-radius: 20px;
    outline: none;
    flex-grow: 1;
    border-radius: 20px;
}

#Lupa {
    padding: 8px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

#Lupa:hover {
    background-color: var(--hover-color);
}

/* Galería */
main {
    display: flex;
    background-color: var(--background-light);
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px - 50px);
    width: 100vw;
    padding: 20px 0;
    box-sizing: border-box;
}

.gallery {
    width: 85vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 5fr);
}

.gallery_img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 1%;
}

.gallery_item {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.Overlay {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 60%;
    height: auto;
    transition: .5s ease;
    opacity: 0;
    font-size: 18px;
    padding: 5px;
    text-align: center;
}

.gallery_item:hover .Overlay {
    opacity: 1;
}

#item1{
    grid-column-start: 1;
    grid-column-end: 3  ;
    grid-row-start: 1;
    grid-row-end: 3 ;
}

#item2{
    grid-column-start: 1 ;
    grid-column-end: 3 ;
    grid-row-start: 3 ;
    grid-row-end: 5 ;
}

#item3{
    grid-column-start: 3 ;
    grid-column-end: 6 ;
    grid-row-start: 3 ;
    grid-row-end: 5 ;
}

#item4{
    grid-column-start: 1 ;
    grid-column-end: 4 ;
    grid-row-start: 5 ;
    grid-row-end: 7 ;
}

#item5{
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 1 ;
    grid-row-end: 4;
}

#item6{
    grid-column-start: 3 ;
    grid-column-end:  6 ;
    grid-row-start: 1 ;
    grid-row-end: 3;
}

#item7{
    grid-column-start: 4 ;
    grid-column-end: 6 ;
    grid-row-start: 5 ;
    grid-row-end: 7 ;
}

#item8{
    grid-column-start: 6 ;
    grid-column-end: 8 ;
    grid-row-start: 4 ;
    grid-row-end: 7 ;
}

/* Pie de página */
footer {
    background-color: var(--primary);
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
    bottom: 0;
    color: white;
}