/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

/* Contenedor del encabezado */
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color:cornflowerblue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Logo */
.Title img {
    width: 200px;
    height: auto;
    padding-bottom: 30px;
}

/* Barra de búsqueda */
.navBar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 8px;
    width: 80%;
    max-width: 400px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.search-bar {
    flex: 1;
    background-color: transparent;
    padding: 10px;
    border: none;
    font-size: 16px;
    border-radius: 20px;
    outline: none;
}

#Lupa {
    width: 25px;
    height: auto;
    cursor: pointer;
}

/* Grid con 2 columnas */
.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 20px;
    margin: auto;
}

/* Caja de productos */
.box {
    background-color: white;
    padding: 10px;
    max-width: 300px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    text-align: center;
}

.box:hover {
    transform: scale(1.03);
}

.box img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Pie de página */
footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
